footer {
	background:#333;
	padding:0;
	padding-bottom:10px;
	display:block;
	opacity:.75;
	border-top:1px solid #555;
}

footer:hover {
	opacity:1;
}

footer .container {
	padding-top:10px;
}

footer h3 {
	margin:0 10px 7px;
	padding:0;
	float:left;
}

footer .dynamic {
	color:#666;
	margin-bottom:12px;
}

footer .contact {
	color:#666;
	width:300px;
	float:left;
}

footer .contact address {
	font-style:normal;
	margin-bottom:5px;
}

footer .social {
	float:left;
	width:92px;
}

footer .social li {
	float:left;
	margin:0 10px 0 0;
}

footer .social li a {
	display:block;
}

footer .partners {
	float:left;
	width:400px;
}

footer .partners h3,
footer .partners ul
{
	float:left;
}

footer .partners ul li a {
	display:block;
}
footer .partners ul li .icon {
	width:80px;
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:40px;
	line-height:16px;
	font-size:16px;
}

footer .partners h3 {
	margin-right:12px;
	margin-bottom:0;
	padding-left:24px;
	border-left:1px solid #666;
	font-size:22px;
	line-height:32px;
}

footer .dynamic {
	float:left;
}

footer .system {
	float:right;
	width:400px;
	padding:0 0 10px;
	color:#999;
	font-size:13px;
	line-height:19px;
}


footer .system menu {
	display:block;
	text-align:right;
}
footer .system menu li {
	display:inline-block;
	margin:0 0 0 10px;
	padding:0 0 0 10px;
	border-left:1px solid #666;
}

footer .system menu li:first-child {
	border:none;
	padding:0;
	margin:0;
}

footer .system menu li a {
	color:#999;
}

footer .system .right {
	float:right;
	width:200px;
}

footer .system .credits {
	text-align:right;
}
