.ui-list-team {
	margin-bottom:10px;
	margin-right:10px;

	width:290px;
	padding:10px;
	border:1px solid rgba(239,200,0,.25);
	border-radius:7px;
	cursor:pointer;

	&:hover {
		background:rgba(255,255,255,.05);
		border:1px solid rgba(239,200,0,.5);
	}

	.image {
		width:75px;
		height:75px;
		float:left;
		margin-right:15px;
	}

	.data {
		float:left;
		width:200px;
		height:90px;
	}
}


.ui-list-team {
	width:210px;

	.data {
		width:120px;
		height:auto;
	}
}


.section-teams {
	.ui-intra-team-list {
		.ui-list-team {
			float:left;
		}
	}
}


.ui-intra-sections-team-home-info {
	width:450px;
	float:left;
}

.ui-intra-sections-team-home-members {
	width:450px;
	float:right;

	.ui-list-team-member {
		margin:0 10px 10px 0;
		display:inline-block;

		.member-avatar {
			width:50px;
			height:50px;
			float:left;
			margin-right:10px;
		}

		.member-data {
			float:left;
			width:150px;
		}

		.ui-intra-team-member-role-list {
			font-size:12px;
		}
	}
}
