doctype html
html(lang=$loc->get_lang())
	head
		:php
			$ren->content_for('styles', 'styles/bundle/common');
			$ren->content_for('styles', 'styles/bundle/intranet');

			$ren->content_for('scripts', "scripts/bundle/login");
			$ren->content_from('head');

		link(rel="icon",type="image/ico",href="/favicon.ico")
		link(rel="icon",type="image/png",href="/favicon.png")

	body.page_login
		header
			.logo

		#container
			.page-block
				.block.left
					.context
						!=$ren->link_for('home', $ren->heading_layout($loc->trans('intra_name')))
						p!=$loc->trans('intra_desc')

					.context
						!=$ren->heading($loc->trans('intra_register'))
						p!=$loc->trans('intra_register_desc', 'http://www.improliga.cz/kontakty/')

				.block.right
					:php
						$ren->slot();

				span.cleaner
				:php
					$ren->yield();
			span.cleaner

		include ../partial/ga.jade
