html {
	background-image:none;
	background:#000;
	color:#fff
}

body.setup {
	display:block;
	float:none;
	margin:0;
	padding:0;
	width:auto;
	height:auto;
}

.setup .viewport {
	padding:60px 0;
}

.viewport {
	margin:0 auto;
	width:400px;
}

.viewport label {
	width:155px;
}

.viewport input {
	width:155px;
}

.viewport .inputs li {
	margin-bottom:10px;
}

.viewport #core-user-login-container {
	background:#333;
	padding:20px 35px;
	box-shadow:0 0 50px #4C0057;
	border:1px solid #633B00;
}

.browsers {
	padding:20px 0 0 10px;
}

.browsers span {
	display:inline-block;
	width:64px;
	height:64px;
	background-image:url(/share/pixmaps/godmode/browsers.png);
	background-repeat:no-repeat;
	margin:5px;
}

.browsers .chrome  { background-position:0 0; }
.browsers .firefox { background-position:-70px 0; }
.browsers .opera   { background-position:-136px 0; }
.browsers .ie      { background-position:-274px 0; }
.browsers .safari  { background-position:-202px 0; }

.browsers .ie,
.browsers .safari
{
	opacity:.3;
}
