.main_menu {
	position:absolute;
	left:50px;
	top:28px;
	z-index:100000;
	display:none;
}

.main_menu,
.main_menu menu
{
	margin:0;
	padding:0;
	border:1px solid #333;
}

.main_menu li {
	list-style:none;
	margin:0;
	padding:0;
	border-bottom:1px solid #000;
	background:#FFFFFF;
	position:relative;
	font-size:13px;
}

.main_menu li:hover {
	background:#780089;
	color:#fff;
}

.main_menu li:last-child {
	border-bottom:0;
}

.submenu {
	position:absolute;
	top:0;
	left:170px;
	display:none;
}

.main_menu li:hover .submenu {
	display:block;
}

.main_menu a {
	display:block;
	padding:5px 10px;
	width:150px;
	color:#222;
	text-decoration:none;
}

