.godmode_preloader {
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:fixed;
	background:#000;
	background:rgba(0,0,0,0.9);
	z-index:10000;
	color:#fff;
}

.godmode_preloader .inner {
	position:absolute;
	top:40%;
	right:25%;
	height:100px;
	left:25%;
	padding:20px 35px;
}

.godmode_preloader .label {
	position:absolute;
	top:25%;
	left:0;
	right:100px;
	font-size:150%;
	text-align:center;
	width:100%;
}

.godmode_preloader .progress_text {
	padding:10px;
	position:absolute;
	right:0;
	bottom:0;
}

.godmode_preloader .progress_outer {
	border:1px solid #666;
	background:#111;
	height:7px;
	position:absolute;
	bottom:25%;
	left:100px;
	right:100px;
	border-radius:7px;
	box-shadow:0 0 20px #800080;
}

.godmode_preloader .progress {
	height:7px;
	background:#fff;
	border-radius:7px;
	box-shadow:0 0 30px #fff;
}
