.event-browser {
	.filters {
		margin-bottom:20px;
	}

	.event {
		display:block;
		margin:0 20px 20px 0;
		float:left;
		width:280px;
		height:60px;

		.event-name {
			line-height:24px;
			font-size:18px;
			font-weight:bold;
		}

		.attrs {
			font-size:13px;
			line-height:15px;
		}

		.r {
			width:220px;
		}
	}
}
