.team-browser {
	.team {
		display:block;
		float:left;
		width:200px;
		height:60px;

		.team-name {
			line-height:24px;
			font-size:18px;
			font-weight:bold;
		}

		.attrs {
			font-size:13px;
			line-height:15px;
		}

		.l {
			width:40px;
		}

		.r {
			width:140px;
		}
	}
}
