#meta {
	display:none;
}


#viewport {
	position:relative;
	margin:0 auto;
	width:1000px;
	min-height:500px;
}


.hover {
	cursor:pointer;
	border:1px solid transparent;
	border-radius:3px;
	padding:10px;

	&:hover {
		background:rgba(0,0,0,0.85);
		border:1px solid rgba(255,255,255,0.07);
	}
}

.section {
	min-height:600px;
	position:relative;
	border-bottom:1px solid rgba(0,0,0,0.5);

	&:last-child {
		border-bottom:none;
	}
}

.paginator {
	margin:0 auto;
	width:400px;
	position:relative;

	.pagi-pages {
		position:relative;
		background:#333;
		margin:0 25px;
		height:13px;
		border-radius:7px;

		.bar {
			width:75px;
			height:13px;
			line-height:13px;
			background:#D0AF04;
			cursor:pointer;
			border-radius:7px;

			&:hover {
				background:#efc800;
			}

			.value {
				color:#000;
				text-align:center;
				font-size:11px;
				font-weight:bold;
			}
		}
	}

	.pagi-prev,
	.pagi-next {
		position:absolute;
		height:13px;
		line-height:13px;
		width:13px;
		top:-3px;
		font-size:11px;
		cursor:pointer;
		background:#333;
		color:#fff;
		padding:4px;
		border-radius:17px;
		font-family:Arial, sans;
		text-align:center;

		&:hover {
			background:#efc800;
			color:#000;
		}
	}

	.pagi-prev {
		left:0;
	}

	.pagi-next {
		right:0;
	}
}

.ui-abstract-list {
	.marginer {
		padding:20px;
	}

	.inner {
		position:relative;
	}

	.filter {
		position:absolute;
		right:0;
		top:0;
	}

	.header,
	.content
	{
		margin-bottom:20px;
	}

	.content {
		.info {
			font-size:13px;
		}
	}
}


.ui-abstract-text {
	.ui-text-inner {
		padding:20px;
		color:#fff;
	}

	h1,h2,h3,h4 {
		color:#fff;
	}
}

.ui-abstract-list,
.ui-abstract-text,
.ui-contact-form
{
	position:absolute;
	background:rgba(0,0,0,0.85);

	.info {
		color:rgba(255,255,255,.75);
	}
}

.ui-abstract-list {
	.filter {
		li {
			display:inline-block;
			margin-right:15px;

			&:last-child {
				margin:0;
			}
		}
	}
}

.ui-list-event {
	margin-bottom:10px;
	margin-right:10px;

	width:290px;
	padding:10px;
	border:1px solid rgba(239,200,0,.25);
	border-radius:7px;
	cursor:pointer;

	&:hover {
		background:rgba(255,255,255,.05);
		border:1px solid rgba(239,200,0,.5);
	}

	.image {
		width:75px;
		height:75px;
		float:left;
		margin-right:15px;
	}

	.data {
		float:left;
		width:200px;
		height:90px;
	}
}
