.event_list .day {
	border-top:1px solid rgba(255,255,255, 0.25);
}

.event_list .day-head {
	padding:4px 15px;
	background:rgba(184, 36, 41, 0.8);
	display:block;
	margin-bottom:10px;
	font-weight:bold;
	color:#efefef;
	font-size:13px;
	text-decoration:none;
}


.event_list .event {
	border-bottom:1px solid #666;
	padding-bottom:10px;
	margin-bottom:10px;
}

.event_list .event:last-child {
	border-bottom:none;
	padding-bottom:0;
}

.event_list .event .image {
	display:block;
	width:100px;
	float:left;
	opacity:.75;
}

.event_list .event .image:hover {
	opacity:1;
}

.event_list .desc {
	float:left;
	width:420px;
	padding:0 10px 0 20px;
	color:#999
}


.event_list .desc {
	width:280px;
}

.event_list .desc .ts_location {
	margin:0 0 5px;
	line-height:17px;
	font-size:12px;
	font-family:Arial;
	color:#666;
}

.event_list .desc .name {
	display:block;
	font-weight:bold;
	font-size:16px;
	margin:0 0 5px;
}

.event_detail .text {
	margin:10px 0;
	line-height:18px;
}

.event_detail .text.short {
	padding:15px;
	background:#efefef;
	margin-bottom:20px;
	color:#000;
}

.event_detail {
	padding-left:5px;
}

.event_detail .left {
	width:460px;
	float:left;
}

.event_detail .right {
	width:440px;
	float:right;
}

.event_detail .right .image {
	display:block;
	margin-bottom:15px;
}

.events .controls {
	height:19px;
	line-height:19px;
	vertical-align:middle;
	margin:0 0 10px;
}

.events .controls a:first-child {
	float:left;
}
.events .controls a:last-child {
	float:right;
}

.events .controls a:first-child .lt ,
.events .controls a:last-child .icon
{
	margin-left:5px;
}

.events .controls a span {
	vertical-align:middle;
}


.event_detail .participants {
	font-size:28px;
	text-align:center;
	margin-bottom:20px;
}

.event_detail .participants .vs,
.event_detail .participants .part
{
	display:inline-block;
}

.event_detail .participants .vs {
	margin:0 10px;
	font-size:22px;
}

.event_detail .text.short {
	background:none;
	border-radius:5px;
	padding:0;
	color:#fff;
}


.event_detail .short p {
	margin:0 0 10px;
}


.event_detail .info {
	margin:15px 0;
}

.event_detail .info .date { background-image:url(/share/icons/impro/16/objects/datetime.png); }
.event_detail .info .time { background-image:url(/share/icons/impro/16/objects/time_white.png); }
.event_detail .info .price { background-image:url(/share/icons/impro/16/objects/price.png); }
.event_detail .info .location { background-image:url(/share/icons/godmode/16/items/location.png); }
.event_detail .info .location .addr { font-size:12px; display:block; }

.event_detail .info li {
	background-position:left 1px;
	padding-left:21px;
	display:block;
	color:#888;
	margin:5px 0;
}


.block .calendar-head {
	border-bottom:none;
	padding-bottom:0;
	margin-bottom:0;
}


.calendar .calendar-head .day {
	font-size:12px;
	font-weight:normal;
	text-transform:capitalize;
}

.calendar .week {
	margin-bottom:4px;
}

.calendar .day {
	border-radius:3px;
	border:none;
	margin:0 2px;
	width:54px;
	font-family:Arial;
	text-align:center;
}

.calendar .day:last-child { margin-right:0; }
.calendar .day:first-child { margin-left:0; }

.calendar .day-head .date-info {
	padding:0;
}

.calendar .day-head {
	height:54px;
	line-height:54px;
	font-size:24px;
	border-radius:5px;
	background:#FAEA96;
	color:rgba(255,255,255,.8);
	cursor:default;
	display:block;
	background:rgba(230,205,70, 0.6);
}

.calendar .day-head:hover {
	background:rgba(230,205,70, 0.75);
}

.calendar .today .day-head {
	background:#E6CD4C;
}

.calendar .day-inactive .day-head {
	background:rgba(100,100,100,0.5);
	color:#666;
}

.calendar .day-events .day-head {
	background:rgba(184,36,41,0.8);
	color:#fff;
	cursor:pointer;
}

.calendar .day-events .day-head:hover {
	background:#B82429;
}

.versus {
	display:inline;
}
