.team_list {
}

.team_list ul, .team_list li {
	margin:0;
	padding:0;
	list-style:none;
}

.team_list li {
	display:block;
	width:460px;
	float:left;
	margin-bottom:10px;
}

.team_list img {
	display:block;
	float:left;
	width:118px;
	height:100px;
	margin-right:10px;
}

.team_list .desc {
	float:left;
	width:325px;
	font-size:16px;
}

.team_list .desc strong a {
	font-size:18px;
}


.team_detail .header {
	height:425px;
	position:relative;
}

.team_detail .header .img {
	float:left;
}

.team_detail .header .map {
	float:right;
}

.team_detail .map .playground {
	width:300px;
	padding:15px 0 0;
}

.team_detail .map .playground h3 {
	margin-bottom:10px;
}

.team_heading {
	position:absolute;
	z-index:5;
	left:30px;
	top:240px;
	width:169px;
}

.team_heading .team_logo {
	float:left;
	margin-right:15px;
}

.team_heading .name {
	position:absolute;
	left:210px;
	top:75px;
}

.team_heading h1 {
	margin:0 0 5px;
}

.team_heading h2 {
	width:700px;
}

.team_desc {
	line-height:21px;
}

.team_info .city { background-image:url(/share/icons/impro/16/objects/city.png); }
.team_info .site { background-image:url(/share/icons/impro/16/objects/site.png); }

.team_detail .team_info {
	margin:10px 0;
	display:block;
}

.team_info li {
	background-position:left 1px;
	padding-left:21px;
	display:block;
	color:#888;
	margin:5px 0;
}

.team_detail .left,
.team_detail .right
{
	width:550px;
	float:left;
}

.team_detail .right
{
	float:right;
	width:300px;
}

.team_detail .right h3 {
	margin-bottom:10px;
}


.team_detail .right .events .desc {
	width:170px;
}
