.ui-intra-team-attendance-browser {
	table {
		width:100%;
	}

	th, td {
		padding:5px;
		font-size:14px;
	}

	th {
		font-weight:bold;
	}

	tbody {
		tr {
			&.even {
				background:#f5f5f5;
			}

			&:hover {
				background:#f0f0f0;
			}
		}
	}

	.attd-filter {
		margin-bottom:14px;

		.input {
			display:inline-block;
			margin-right:14px;

			&:last-child {
				margin-right:0;
			}
		}
	}

	.attd-empty {
		height:250px;
		line-height:250px;
		text-align:center;
		font-size:32px;
		color:#ccc;
	}

	.ui-intra-team-attendance-member {
		text-align:left;
		min-width:150px;
	}

	.ui-intra-team-attendance-ack {
		.ack-inner {
			border-radius:3px;
			cursor:default;
			height:24px;
			line-height:24px;
			text-align:center;
			border:1px solid transparent;
			width:24px;
			margin:0 auto;

			&:hover {
				opacity:1;
				border-color:rgba(0,0,0,.25);
			}

			&.status-unknown {
				background-color:#ddd;
			}

			/*

				const NOT_SENT       = 1;
				const SENT           = 2;
				const RESPONSE_YES   = 3;
				const RESPONSE_NO    = 4;
				const RESPONSE_MAYBE = 5;

			*/

			&.status-1 {
				background-color:#ccc;
			}

			&.status-2 {
				background-color:#008dd7;
			}

			&.status-3 {
				background-color:#23ea23;
			}

			&.status-4 {
				background-color:#ec0d15;
			}

			&.status-5 {
				background-color:#ffda2d;
			}
		}
	}
}
