.ui-intra-team-settings-main {
	position:relative;

	.team-cfg-menu {
		float:left;
		width:180px;
		margin-right:20px;

		a {
			display:block;
			padding:7px 10px;
		}
	}

	.team-cfg-content {
		border-left:1px solid #eee;
		padding-left:50px;
		float:left;
		width:600px;
	}

	.ui-intra-team-settings-general {
		.input-label-left {
			label {
				width:150px;
			}
		}

		.input-label-right {
			.input-container {
				margin-right:15px;
			}
		}
	}
}
