.ui-intra-team-settings-main {
	position:relative;

	.team-cfg-menu {
		float:left;
		width:250px;
		margin-right:20px;

		a {
			display:block;
			padding:7px 10px;
		}
	}

	.team-cfg-content {
		border-left:1px solid #eee;
		padding-left:50px;
		float:left;
		width:600px;
	}
}
