.ui-contact-form {
	width:700px;
	min-height:400px;
	left:150px;

	.inner {
		padding:20px;
	}

	.cf-menu-item {
		display:inline-block;
		width:150px;
		height:100px;
		line-height:100px;
		vertical-align:top;
		border:1px solid rgba(255,255,255,.15);
		border-radius:5px;
		margin-right:10px;
		text-align:center;
		cursor:pointer;

		&:hover {
			background:rgba(255,255,255,.05);
		}

		&:last-child {
			margin:0;
		}

		.label {
			display:inline-block;
			color:#fff;
			vertical-align:middle;
			line-height:20px;
		}

	}
}
