.ui-contact-form {
	width:475px;
	min-height:360px;
	left:0;
	padding:20px;

	.inner {
		position:relative;
	}

	.menu .items {
		width:486px;
		margin-bottom:20px;
	}

	.cf-handler {
		position:absolute;
		left:0;
		top:0;
		color:#fff;

		.heading {
			font-size:32px;
			font-family:Oswald;
			margin-bottom:20px;
			line-height:46px;
		}

		label {
			margin-right:10px;
			width:60px;
		}

		label, .input-container {
			display:inline-block;
			line-height:28px;
			vertical-align:top;
		}

		.input-email {

			input {
				width:200px;
			}
		}

		.input-textarea {
			textarea {
				resize:none;
				width:360px;
				height:180px;
			}
		}

		.form-group-typed-inputs {
			li {
				margin-bottom:10px;
			}
		}


		.form-group-typed-buttons {
			padding-left:70px;

			li {
				display:inline-block;
			}
		}
	}

	.cf-menu-item {
		display:inline-block;
		width:130px;
		height:100px;
		line-height:100px;
		vertical-align:top;
		border:1px solid rgba(255,255,255,.15);
		border-radius:5px;
		padding:0 10px;
		margin-right:10px;
		margin-bottom:10px;
		text-align:center;
		cursor:pointer;

		&:hover {
			background:rgba(255,255,255,.05);
		}

		&:last-child {
			margin:0;
		}

		.label {
			display:inline-block;
			color:#fff;
			vertical-align:middle;
			line-height:20px;
		}
	}

	.ui-abstract-text {
		position:relative;
		background:none;
		margin-bottom:20px;

		.ui-text-inner {
			padding:0;
		}
	}
}


.ui-contact-faq {
	width:460px;
	right:0;
}
