@font-face {
	font-family:"droid-sans-online";
	src: local("Droid Sans");
}

body,html {
	font-family:"droid-sans-online", "Droid Sans", Arial;
	font-size:14px;
	padding:0;
	margin:0;
}

a, a.visited {
	color:#EFC800;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

body {
	background:#000;
}

h1,h2,h3,h4 {
	margin-top:0;
}

a img {
	border:2px solid rgba(184,36,21,0.2);
	opacity:.8;
	display:block;
}

a:hover img {
	border-color:rgba(184,36,21,0.75);
	opacity:1;
}

.container {
	width:1000px;
	margin:0 auto;
	position:relative;
}

.top {
	position:relative;
	min-width:1000px;
}

.top .bg {
	background:#000;
	position:absolute;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
}

.top .bg img {
	display:block;
	width:100%;
}

header {
	border-bottom:1px solid #333;
	box-shadow:0 0 25px rgba(0,0,0,0.15);
	position:relative;
	z-index:2;
	margin-bottom:15px;
}

header .container {
	padding:10px 0;
}


header .logo {
	display:block;
	width:95px;
	height:100px;
	background:url(/share/pixmaps/logo.png) left top no-repeat;
}

header .main, header .main li {
	margin:0;
	padding:0;
	list-style:none;
}

header .main {
	position:absolute;
	bottom:5px;
	left:110px;
}

header .main li {
	display:inline-block;
	margin:0 5px;
}

header .main li a {
	display:block;
	padding:5px 10px;
	font-size:18px;
	text-decoration:none;
	font-weight:bold;
	color:#B82429
}

footer {
	background:#333;
	padding-top:15px;
}

h1,h2,h3,h4 {
	margin-top:0;
}

#content {
	margin:0;
	padding:0;
	border-bottom:1px solid #333;
	box-shadow:0 0 25px rgba(0,0,0,0.15);
	position:relative;
	z-index:2;
}

#content .container {
	min-height:780px;
}

.cleaner {
	clear:both;
	display:block;
}

.block {
	padding:20px;
	background:rgba(0,0,0,0.75);
	border:1px solid rgba(255,255,255,0.2);
	border-radius:15px;
	margin:0 0 15px;
	color:#DEDEDE;
}

.block p {
	font-size:16px;
}

.block.events {
	clear:both;
	width:100%;
}

.block.left,
.block.right,
.block.left_big,
.block.right_small
{
	float:left;
	width:430px;
}

.block.left_big {
	width:640px;
}

.block.right_small {
	width:160px;
}

.block.left {
	margin-right:15px;
}

.cleaner {
	display:block;
	clear:both;
}

.block.layout_11 { width:800px; }
.block.layout_78 { width:700px; }
.block.layout_34 { width:600px; }
.block.layout_14 { width:200px; }
.block.layout_18 { width:100px; }


.carticle_list .category {
	margin-bottom:15px;
}

.carticle_list h3 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:5px;
}

.article_list,
.article_list ul,
.article_list li
{
	margin:0;
	padding:0;
	list-style:none;
}

.article_list li {
	margin:3px 0 0;
}

.chapter_list {
	margin:0 0 10px;
	padding:0 0 0 5px;
}

.chapter_list li {
	list-style:decimal inside;
	margin:2px 0;
	font-size:12px;
}
