@font-face {
	font-family:"droid-sans-online";
	src: local("Droid Sans");
}

body,html {
	background:#ccc;
	font-family:"droid-sans-online", "Droid Sans", Arial;
	font-size:14px;
	padding:0;
	margin:0;
}

.container {
	width:1000px;
	margin:0 auto;
	position:relative;
}

header {
	background:#fff;
	border-bottom:1px solid #ccc;
	box-shadow:0 0 25px rgba(0,0,0,0.15);
	position:relative;
	z-index:1
}

header .container {
	padding:10px 0;
}


header .logo {
	display:block;
	width:95px;
	height:100px;
	background:url(/share/pixmaps/logo.png) left top no-repeat;
}

header .main, header .main li {
	margin:0;
	padding:0;
	list-style:none;
}

header .main {
	position:absolute;
	bottom:5px;
	left:110px;
}

header .main li {
	display:inline-block;
	margin:0 5px;
}

header .main li a {
	display:block;
	padding:5px 10px;
	font-size:18px;
	text-decoration:none;
	font-weight:bold;
	color:#B82429
}

footer {
}

h1,h2,h3,h4 {
	margin-top:0;
}

#content {
	margin:0 0 20px;
	padding:0;
	background:#eaeaea;
	border-bottom:1px solid #aaa;
	box-shadow:0 0 25px rgba(0,0,0,0.15);
}

.cleaner {
	clear:both;
	display:block;
}

.block {
	padding:20px 0;
}

.block.events {
	clear:both;
	width:100%;
}

.block.left,
.block.right,
.block.left_big,
.block.right_small
{
	float:left;
	width:470px;
}

.block.left_big {
	width:640px;
}

.block.right_small {
	width:160px;
}

.block.left {
	margin-right:15px;
}

.cleaner {
	display:block;
	clear:both;
}

.block.layout_11 { width:800px; }
.block.layout_78 { width:700px; }
.block.layout_34 { width:600px; }
.block.layout_14 { width:200px; }
.block.layout_18 { width:100px; }


