.window form input {
	font-size:14px;
}

.window .pwform label {
	width:180px;
}

.window form li.input-left {
	padding-left:120px;
}

.window form .input-right label,
.window form .input-container
{
	line-height:29px;
}

.window form .input-left .input-container {
	margin-right:5px;
}

.window form .input-right input {
	min-width:220px;
}

.window .pwform .inputs li,
.window .pwform .relman_object
{
	background:#efefef;
	border-bottom:1px solid #fff;
	padding:5px 10px;
	margin-top:0;
	margin-bottom:0;
}

.window .pwform .inputs li:last-child,
.window .pwform .widget-tools li {
	border:none;
}

.window .pwform .widget-tools li {
	background:none;
}

.window .pwform .rte_content {
	background:#fff;
	border-radius:3px;
	max-width:440px;
}

.window .pwform .tab {
	padding:0;
	overflow:hidden;
	border-radius:0 5px 5px 5px;
	border-color:#AC76AC;
}

.window .pwform .tab .inputs > li:first-child {
	padding-top:10px;
}

.window .pwform .inputs {
	margin-bottom:0;
}

.window .pwform .tab_label .inner {
	background:#800080;
	color:#DDA5DD;
	border-color:#AC76AC;
}

.window .pwform .tab_label .inner:hover {
	color:#fff;
}

.window .pwform .tab_label.active .inner {
	background:#efefef;
	color:#000;
}

.window .pwform .tab_labels {
	position:relative;
	margin-bottom:-1px;
}


.window .pwform button {
	border-radius:5px;
	background:#800080;
	color:#fff;
	line-height:24px;
	font-weight:bold;
	border:none;
	cursor:pointer;
}

.window .pwform .buttons {
	margin-top:20px;
}

.window .pwform .buttons li {
	margin-bottom:0;
}



.window .pwform .relman_object {
	border-color:#AC76AC;
	position:relative;
	overflow:hidden;
}

.window .pwform .relman_object li {
	background:none;
}

.window .pwform .relman_object:hover,
.window .pwform .relman_object:focus
{
	background-color:#e6e6e6;
}

.window .pwform .relman_object .group_label {
	padding:10px 0 0 10px;
	font-weight:bold;
}

.window .pwform .relman_object li {
	clear:both;
}

.window .pwform .relman_object li.input-left {
	clear:none;
	float:left;
	display:inline-block;
	border:none;
}

.window .pwform .relman_object li.input-left label {
	width:auto;
}

.relman {
	background:#efefef;
}

.relman .relman-add-button,
.relman_object .relman-drop-button
{
	line-height:16px;
	text-decoration:none;
	color:#800080;
	font-weight:bold;
}

.relman_object .relman-drop-button {
	position:absolute;
	right:15px;
	top:15px;
}

.relman .relman-add-button .text,
.relman_object .relman-drop-button .text
{
	vertical-align:top;
	line-height:16px;
}

.relman .relman-add-button .icon,
.relman_object .relman-drop-button .icon
{
	vertical-align:top;
	margin-right:5px;
}

.relman .relman-add-button:hover,
.relman_object .relman-drop-button:hover
{
	color:#f90;
}

.relman .relman-controls {
	padding:10px 15px;
}

.window .editor .buttons {
	margin-top:10px;
}

.window .editor .buttons li {
	display:inline-block;
}

.window .editor button.dimm {
	background:#bf7fbf;
}

.window .editor button.dimm:hover {
	background:#800080
}
