a {
	text-decoration:none;
	color:@col-light-fg-link;
}

a:hover {
	color:@col-light-fg-link-hover;
}

h1,
.heading
{
	font-size:40px;
	line-height:52px;
	text-transform:uppercase;
}

h2,
.heading2
{
	font-size:32px;
	line-height:40px;
	font-family:Oswald;
	font-weight:bold;
}

fieldset {
	border:none;
	margin:0;
	padding:0;
}

.plain, .plain li {
	margin:0;
	padding:0;
	list-style:none;
}

.loader-tiny {
	width:16px;
	height:16px;
	background:url(/share/pixmaps/animations/loader-tiny.gif);
	display:inline-block;
	vertical-align:middle;
}
