.event_list .day {
	border-top:1px solid #ccc;
}

.event_list .day-head {
	padding:4px 15px;
	background:#efefef;
	display:block;
	margin-bottom:10px;
	font-weight:bold;
	color:#444;
	font-size:13px;
}

.event_list .event {
	border-bottom:1px solid #efefef;
	padding-bottom:10px;
	margin-bottom:10px;
}

.event_list .event:last-child {
	border-bottom:none;
	padding-bottom:0;
}

.event_list .event .image {
	display:block;
	width:100px;
	float:left;
	opacity:.75;
}

.event_list .event .image:hover {
	opacity:1;
}

.event_list .desc {
	float:left;
	width:420px;
	padding:0 10px 0 20px;
	color:#111
}

.event_list .desc .ts_location {
	margin:0 0 5px;
	line-height:17px;
	font-size:12px;
	color:#666;
}

.event_list .desc .name {
	display:block;
	font-weight:bold;
	font-size:16px;
	margin:0 0 5px;
}

.event_detail .text {
	margin:10px 0;
	line-height:18px;
}

.event_detail .text.short {
	padding:1px 15px;
	background:#efefef;
	margin-bottom:20px;
	color:#000;
}

.event_detail {
	padding-left:5px;
	padding-top:10px;
}

.event_detail .left {
	width:500px;
	float:left;
	position:relative;
}

.event_detail .right {
	width:270px;
	float:right;
	border-left:1px solid #efefef;
	padding-bottom:50px;
}

.event_detail .right .image,
.event_detail .right .image img
{
	display:block;
}

.event_detail .participants {
	font-size:28px;
	text-align:center;
	margin-bottom:20px;
}

.event_detail .participants .vs,
.event_detail .participants .part
{
	display:inline-block;
}

.event_detail .participants .vs {
	margin:0 10px;
	font-size:22px;
}

.event_detail .info {
	margin:15px 0;
}

.event_detail .info .date { background-image:url(/share/icons/16/impro/objects/datetime); }
.event_detail .info .time { background-image:url(/share/icons/16/impro/objects/time); }
.event_detail .info .price { background-image:url(/share/icons/16/impro/objects/price); }
.event_detail .info .owner { background-image:url(/share/icons/16/godmode/items/user); }
.event_detail .info .location { background-image:url(/share/icons/16/godmode/items/location); }
.event_detail .info .booking { background-image:url(/share/icons/16/impro/objects/booking); }
.event_detail .info .location .name {
	display:block;
	margin-bottom:3px;
}

.event_detail .info .location .addr,
.event_detail .info .location .site
{
	font-size:12px;
	display:block;
}


.event_detail .info li {
	background-position:left 1px;
	padding-left:21px;
	display:block;
	color:#888;
	margin:5px 0;
}

.wizzard {
	padding:5px 0 100px 20px;
	border-left:1px solid #efefef
}

.wizzard li {
	display:block;
	margin:0 0 5px;
	padding-left:30px;
	background-position:left 0;
	min-height:24px;
	background-repeat:no-repeat;
	font-size:16px;
	line-height:24px;
}

.wizzard .passed { background-image:url(/share/icons/24/impro/status/ok) }
.wizzard .failed { background-image:url(/share/icons/24/impro/status/failed) }
.wizzard .incomplete { background-image:url(/share/icons/24/impro/status/incomplete) }


.event_tools .options {
	margin:0;
	padding:0;
}

.event_tools .options, .event_tools .options li {
	display:inline-block;
}

.event_tools .options li {
	margin:0 15px 0 0;
}

.event_tools .inputs .form-input {
	padding:1px 12px;
	border-radius:5px;
}

.event_tools .inputs label {
	width:175px;
}

.event_tools .options li label {
	width:auto;
	font-weight:normal;
	margin-right:15px;
}

.event_tools .form-text div.input-container {
	padding:5px 12px;
}

.event_timespace .form-text div.input-container {
	padding:0;
}

.event_publish .form-text,
.event_poster .form-text
{
	margin:0;
}

.event_publish .form-text div.input-container {
	padding:0 0 0 7px;
}

.event_poster .form-text div.input-container {
	padding:0;
}

.event_poster .input-field_generic_tickets,
.event_poster .input-field_generic_poster,
.event_poster .input-field_use_booking,
.event_publish .input-field_visible,
.event_publish .input-field_published,
.event_publish .input-field_publish_wait
{
	padding:5px;
	border-radius:5px;
	margin:10px 0 0;
	width:300px;
}

.event_poster .input-field_generic_tickets:hover,
.event_poster .input-field_generic_poster:hover,
.event_poster .input-field_use_booking:hover,
.event_tools .inputs .form-input:hover,
.event_publish .input-field_visible:hover,
.event_publish .input-field_published:hover,
.event_publish .input-field_publish_wait:hover
{
	background:#efefef;
}


.event_poster .input-field_generic_tickets label,
.event_poster .input-field_generic_poster label,
.event_poster .input-field_use_booking label,
.event_publish .input-field_visible label,
.event_publish .input-field_published label,
.event_publish .input-field_publish_wait label
{
	font-size:15px;
	font-weight:bold;
	width:auto;
	vertical-align:top;
}

.event_poster .input-field_generic_tickets .input-container,
.event_poster .input-field_generic_poster .input-container,
.event_poster .input-field_use_booking .input-container,
.event_publish .input-field_visible .input-container,
.event_publish .input-field_published .input-container,
.event_publish .input-field_publish_wait .input-container
{
	vertical-align:middle;
	margin-right:5px;
}

.event_wizzard_outer {
	margin-right:15px;
}

.event_wizzard_outer h1 {
	margin-bottom:10px;
}

.event_wizzard_outer .desc {
	font-size:24px;
	margin-top:0;
}

.event_wizzard .input-location {
	display:block
}
.event_wizzard .input-field_location label { display:none }
.event_wizzard .input-field_location .input-container label { display:inline-block }

.event_wizzard .loc-options .input {
	margin-left:0;
	margin-right:0;
	padding:0;
}

.event_wizzard ul.options {
	display:inline-block;
	padding:0;
}

.event_wizzard ul.options li { margin:0 }
.event_wizzard ul.options li input { vertical-align:top; }
.event_wizzard ul.options li label {
	vertical-align:middle;
	font-weight:normal;
}

.pwform .event_wizzard_cancel .form-text label {
	display:inline-block;
}

.pwform .event_wizzard_cancel .form-text .input-container {
	display:inline-block;
	padding:0;
}


.event_wizzard .buttons .input-field_button_submited {
	float:right
}

.event_wizzard .buttons .input-field_cancel button,
.event_wizzard .buttons .input-field_prev button
 {
	background:#999;
	border-color:#999;
}

.event_wizzard .buttons .input-field_cancel button:hover,
.event_wizzard .buttons .input-field_prev button:hover
{
	border:1px solid #666;
}


.event .event_image,
.event .event_info
{
	float:left;
}

.event .part {
	display:block;
}

.event .event_image { margin-right:10px; }
.event .event_image img { display:block; }

.event .name {
	font-weight:bold;
	margin-bottom:2px;
}

.event .city,
.event .date
{
	font-size:12px;
}


.event_table {
	width:100%;
}

.event_table th {
	text-align:left;
}

.event_table td,
.event_table td * {
	vertical-align:top;
}

.event_table .loc {
	display:block;
	font-size:12px;
}

.event_table td {
	border-bottom:1px solid #e0e0e0;
	padding:5px 0;
}

.event_table .img {
	width:54px;
}

.event_table .actions {
	width:44px;
}

.event_table .actions a {
	padding:2px;
	border:1px solid transparent;
}
.event_table .actions a:hover {
	border:1px solid #999
}

.event_filter {
	margin-bottom:20px;
}

.event_filter .inputs_container,
.event_filter .buttons_container
{
	float:left;
}

.event_filter .inputs,
.event_filter .buttons
 {
	margin:0;
}

.event_filter .inputs {
	background:#efefef;
	border:1px solid #ccc;
	border-radius:5px;
	padding:0 10px;
	margin-right:10px;
}

.event_filter .inputs li {
	display:inline-block;
	padding:2px 0 1px;
	margin:0 10px 0 0;
}

.event_filter .inputs li input {
	display:inline-block;
	vertical-align:middle;
}

.event_filter .inputs li label {
	width:auto;
}

.event_filter .buttons li {
	margin-top:0;
}

.event .match_participants .versus {
	display:inline-block;
	margin:0 4px;
}


.layout_38 .event_list .image {
	width:56px;
}

.layout_38 .event_list .desc {
	padding-right:0;
	padding-left:15px;
}

.event_detail .controls li {
	display:inline-block;
}
