header {
	background:#bb000c;
	display:block;
	height:32px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:100000;
	border-bottom:1px solid #666;
	box-shadow:0 0 10px rgba(0,0,0,0.4);
}

header .page-block {
	position:relative;
	height:30px;
}

.logo a {
	width:180px;
	height:30px;
	position:absolute;
	left:0;
	top:1px;
	line-height:33px;
}

.logo a .hidden {
	display:inline-block;
	line-height:30px;
	padding-left:40px;
	color:#fff;
	font-weight:bold;
}
