.page_login {
	padding-top:0;
}

.page_login header {
	background:#333;
	display:block;
	height:100px;
	padding:10px 0;
	border-bottom:1px solid #999;
	box-shadow:0 0 100px rgba(0,0,0,0.5);
	position:relative;
	z-index:2;
}

.page_login header .logo {
	margin:0 auto;
	background:url(/share/pixmaps/logo_opaque.png) left top no-repeat;
	width:400px;
	height:100px;
}

.page_login #container {
	padding-top:80px;
	font-size:16px;
}

.page_login .block.left {
	width:500px;
	padding:0;
}

.page_login .block.right {
	background:#fff;
	border:1px solid #ccc;
	padding:30px;
	box-shadow:0 0 200px #ccc;
	border-radius:10px;
	float:right;
}

.page_login h1,
.page_login h2
{
	margin-top:0;
	color:#B82429;
}

.page_login h1 {
	font-size:45px;
	margin-bottom:15px;
}

.page_login h2 {
	font-size:30px;
	margin-bottom:15px;
}

.page_login .pwform label {
	width:160px;
}

.page_login .pwform .heading {
	margin-bottom:15px;
}

.page_login .pwform ul,
.page_login .pwform li
{
	margin:0;
	padding:0;
}

.page_login .pwform .input {
	margin-bottom:5px;
}

.page_login .pwform input {
	width:250px;
}

.page_login .pwform .err {
	display:inline-block;
	color:#f00;
}


.page_login .context {
	margin-bottom:30px;
}

.login-gateways {
	padding-top:20px;
}

.login-gateways .desc {
	font-size:14px;
}

.login-gateways li {
	display:inline-block;
}
