.reporter {
	position:absolute;
	left:177px;
	top:6px;
}

.reporter-icon {
	color:#eee;
	background:rgba(0,0,0,0.25);
	border:1px solid rgba(0,0,0,0.2);
	border-radius:5px;
	padding:2px 10px 2px 18px;
	font-size:12px;
	height:15px;
	cursor:pointer;
}

.reporter-icon:hover {
	color:#fff;
	background-color:rgba(0,0,0,0.4);
}

.reporter-icon .status {
	height:20px;
	width:12px;
	position:absolute;
	display:block;
	border-radius:5px 0 0 5px;
	left:0;
	top:0;
	background:rgba(0,0,0,0.5);
}

.reporter.loading .reporter-icon .status {
	background:#00A100;
	background:rgba(0,255,0,0.45);
}

.reporter.active .reporter-icon .status {
	background:#00A100;
	background:rgba(255,255,255,0.9);
}

.reporter-loader {
	position:absolute;
	left:-18px;
	top:0;
	width:14px;
	height:100%;
	display:block;
}


.reporter-menu {
	background:rgba(0,0,0,0.25);
	box-shadow:0 0 50px rgba(0,0,0,0.25);
	position:fixed;
	top:32px;
	margin-left:-50px;
	padding-left:50px;
	width:420px;
	padding-right:50px;
	height:100%;
	overflow:auto;
}

.reporter-menu ul {
	position:absolute;
	left:50px;
	top:26px;
	overflow:hidden;
}

.reporter-menu li {
	border-radius:10px;
	padding:14px;
	margin-bottom:10px;
	font-size:12px;
	color:#333;
	width:392px;
	border-bottom:1px solid #ccc;
	background:#fff;
	cursor:pointer;
}

.reporter-menu li:hover {
	background:#efefef;
}

.reporter-menu .avatar,
.reporter-menu .right
{
	display:inline-block;
	vertical-align:top;
}

.reporter-menu .avatar {
	margin-right:10px;
}

.reporter-menu .right {
	width:342px;
}

.reporter-menu .content *{
	display:inline-block;
	line-height:16px;
}

.reporter-menu .content {
	margin-bottom:5px;
}

.reporter-menu .date {
	color:#999;
}
