.hidden,
.input-hidden
{
	display:none;
}

button,
.button
{
	color:#fff;
	background:#B82429;
	font-weight:bold;
	border:none;
	padding:5px 12px;
	border-radius:3px;
	cursor:pointer;

	&:hover {
		border-color:#333;
	}
}


.ui-loader {
	position:fixed;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:100;
	background:rgba(0,0,0,.9);

	.container {
		position:absolute;
		width:300px;
		height:8x;
		border-radius:5px;
		background:rgba(239,200,0,.25);

		.bar {
			position:relative;
			height:8px;
			border-radius:5px;
			background:rgba(239,200,0,1);
			z-index:5;
			width:0;
		}

		.value {
			position:absolute;
			right:-100px;
			top:-100px;
			height:200px;
			width:500px;
			line-height:200px;
			font-size:180px;
			font-family:Arial;
			z-index:4;
			color:#fff;
			opacity:.1;
			text-align:center;
		}
	}
}

.ui-intra-menu {

	.menu-inner {
		position:fixed;
		left:0;
		top:0;
		bottom:0;
		width:56px;
		background:rgba(0,0,0,.8);
		z-index:100;
	}

	.menu-items {
		position:absolute;
		left:0;
	}

	.menu-item {
		width:48px;
		height:48px;
		padding:4px;
		background-repeat:no-repeat;
		background-position:center center;
		cursor:pointer;
		margin-bottom:4px;

		&:hover {
			background-color:#111;
			opacity:1;
		}

		&:last-child {
			margin-bottom:0;
		}

		&.menu-home {
			background-image:url(<pixmap(intra/menu/logo.png)>);
		}

		&.menu-main {
			background-image:url(<pixmap(intra/menu/main.png)>);
		}

		&.menu-profile {
			background-image:url(<pixmap(intra/menu/global.png)>);
		}

		&.menu-search {
			background-image:url(<pixmap(intra/menu/search.png)>);
		}

		&.menu-settings {
			background-image:url(<pixmap(intra/menu/settings.png)>);
		}

		&.menu-exit {
			background-image:url(<pixmap(intra/menu/exit.png)>);
		}
	}
}

.ui-abstract-menu {
	position:fixed;
	left:56px;
	top:0;
	bottom:0;
	right:0;
	display:none;
	background:rgba(0,0,0,.8);

	.menu_content {
		margin:0 auto;
		position:relative;
		color:#fff;
	}
}


.ui-intra-alert {
	padding:10px;
	font-size:12px;
	line-height:16px;
	margin-bottom:10px;

	&.not-read,
	&:hover
	{
		background:rgba(255,255,255,.05);
	}

	.text {
		margin-bottom:10px;
	}

	.avatar {
		width:40px;
		height:40px;
		float:left;
		margin-right:10px;
		background:#fff;
	}

	.footer_data {
		float:left;
		width:270px;
	}


}
