.button_ui() {
	padding:6px 10px;
	border-radius:4px;
	font-weight:bold;
	background:#eee;
	color:#666;
	cursor:pointer;

	&.active {
		background:#9E2125;
		color:#fff;
	}

	&:hover {
		background:#B82429;
		color:#fff;
	}
}

@col-red-fg:#b82429;
@col-orange-bg:#fdc400;
@col-orange-fg:#ff9825;

@col-light-bg-button:@col-red-fg;
@col-light-bg-button-hover:@col-orange-bg;
@col-light-fg-link:@col-red-fg;
@col-light-fg-link-hover:@col-orange-fg;

@col-dark-fg-sep:#B5A325;
