.team_list {
}

.team_list ul, .team_list li {
	margin:0;
	padding:0;
	list-style:none;
}

.team_list li {
	display:block;
	width:479px;
	float:left;
	margin-bottom:10px;
}

.team_list img {
	display:block;
	float:left;
	width:120px;
	height:80px;
	margin-right:10px;
}

.team_list .desc {
	float:left;
	width:345px;
}


.team_detail .header {
	height:400px;
	position:relative;
}

.team_detail .header .img {
	float:left;
}

.team_detail .header .map {
	float:right;
}

.team_heading {
	position:absolute;
	z-index:5;
	left:30px;
	top:240px;
	width:600px;
}

.team_heading .team_logo {
	float:left;
	margin-right:15px;
}

.team_heading .name {
	margin-top:75px;
}

.team_heading h1 {
	margin:0 0 5px;
}

.team_desc {
	width:600px;
	line-height:18px;
}
