.typical-menu .typical-menu-item,
.ui-intra-menu-profile .filter .input-checkbox .input-checkbox
{
	display:block;
	cursor:pointer;
	border-radius:5px;
	padding:5px 10px;
	margin-bottom:3px;

	&:hover {
		background:rgba(0,0,0,0.5);
	}
}

.typical-menu {
	.icon, .name {
		display:inline-block;
		vertical-align:top;
	}

	.icon {
		margin-right:10px;
	}
}

.ui-intra-menu-main {
	color:#fff;

	.menu_content {
		width:520px;

		.main-menu-items,
		.main-menu-teams
		{
			width:250px;
			float:left;
		}

		.main-menu-items {
			margin-right:20px;
		}
	}

	.icon, .name {
		line-height:32px;
	}

	.icon {
		width:32px;
		height:32px;
	}
}


.ui-intra-menu-profile {
	.menu_content {
		width:701px;
	}

	.input-named-type {
		& > label {
			display:none;
		}
	}

	.inner,
	.right
	{
		float:left;
		padding:0 30px;
	}

	.inner {
		width:240px;
	}

	.right {
		width:340px;
		min-height:400px;
		border-left:1px solid rgba(255,255,255,.15);
	}

	.heading {
		border-bottom:1px solid rgba(255,255,255,.15);
		padding-bottom:20px;
	}

	.profile {
		margin-bottom:20px;

		.profile-avatar {
			width:70px;
			height:70px;
			float:left;
			margin-right:20px;
			background:#fff;
		}

		.profile-data {
			width:150px;
			float:left;
		}
	}
}

.ui-intra-menu-create {
	.menu_content {
		width:700px;

		.create-menu-items {
			float:left;
			width:200px;
		}

		.create-menu-editor {
			float:right;
			width:500px;
			min-height:200px;
		}
	}

	.input {
		background:transparent;

		&:hover {
			background:transparent;
		}
	}
}
