.typical-menu .typical-menu-item,
.ui-intra-menu-profile .filter .input-checkbox .input-checkbox
{
	display:block;
	cursor:pointer;
	border-radius:5px;
	padding:5px 10px;
	margin-bottom:3px;

	&:hover {
		background:rgba(0,0,0,0.5);
	}
}

.typical-menu {
	.icon, .name {
		display:inline-block;
		vertical-align:top;
	}

	.icon {
		margin-right:10px;
	}
}

.ui-intra-menu-main {
	color:#fff;

	.menu_content {
		width:520px;

		.main-menu-items,
		.main-menu-teams
		{
			width:250px;
			float:left;
		}

		.main-menu-items {
			margin-right:20px;
		}
	}

	.icon, .name {
		line-height:32px;
	}

	.icon {
		width:32px;
		height:32px;
	}
}


.ui-intra-menu-create {
	.menu_content {
		width:250px;
	}
}

.ui-intra-menu-config {
	.menu_content {
		width:250px;
	}
}
