body, html
{
	font-family:"Droid Sans", "Arial";
	font-size:14px;
	background:#fff;
	color:#333;
	padding:0;
	margin:0;
	display:block;
}

a {
	text-decoration:none;
	color:#b82429
}

h1 {
	font-size:30px;
	font-weight:bold;
}

fieldset {
	border:none;
	margin:0;
	padding:0;
}

header {
	background:#ccc;
	display:block;
	height:30px;
	position:relative;
}

header .page-block {
	position:relative;
	height:30px;
}

.page-block {
	min-width:620px;
	max-width:1020px;
	padding:0;
	margin:0 auto;
}

html,
body,
#container,
#container .page-block {
	min-height:100%;
}

menu.plain,
menu.plain li
{
	margin:0;
	padding:0;
	list-style:none;
}

menu.plain li {
	display:inline-block;
	padding:2px 5px;
}

.menu_left {
	position:relative;
	width:180px;
	margin-right:20px;
	float:left;
	border-right:1px solid #efefef;
	min-height:100%;
}

menu.main {
	position:relative;
	display:block;
	border-top:1px solid #efefef;
	padding-top:10px;
}

menu.main li {
	display:block;
	line-height:16px;
	padding:0;
	margin-bottom:2px;
}

menu.main li a {
	display:block;
	padding:3px 5px;
	text-decoration:none;
}

menu.main li a:hover {
	background:rgba(0,0,0,0.1)
}

menu.main li .icon {
	margin-right:5px;
	vertical-align:middle;
}

menu.user {
	position:absolute;
	right:25px;
	top:3px;
}

menu.user li {
	padding:0;
}

.logo a {
	width:180px;
	height:30px;
	position:absolute;
	left:0;
	top:0;
	background:#666;
	border-right:1px solid #616161;
}


.block.left,
.block.right {
	float:left;
	width:400px;
}

.block.left {
	margin-right:15px;
}

.block.content {
	padding-top:10px;
}

.cleaner {
	display:block;
	clear:both;
}


.menu_profile {
	margin-bottom:10px;
	padding:15px 0 0;
}

.menu_profile .avatar{
	float:left;
	display:block;
	width:40px;
	height:40px;
	margin-right:10px;
}

.menu_profile .name,
.menu_profile .edit
{
	float:left;
	display:block;
	width:120px;
}

.menu_profile .name a {
	font-weight:bold;
	font-size:12px;
}

.menu_profile .edit a {
	font-size:12px;
}
