.discussion {
	position:relative;
}

.discussion .boards .board {
	border-top:1px solid #efefef;
	padding:10px 0;
	margin-bottom:10px;
	position:relative;
}

.discussion .boards li h2 {
	margin:0 0 10px;
}

.discussion table {
	width:100%;
}

.discussion table th {
	text-align:left;
}

.discussion th.last { width:200px }
.discussion th.date { width:150px }

.discussion .actions {
	position:absolute;
	right:10px;
	top:10px;
}

.discussion .info {
	margin-bottom:0;
}

.discussion .actions li {

}

.topic_list h1,
.post_list h1
{
	margin-bottom:0;
}

.topic_list h2,
.post_list h2
{
	margin:0 0 10px;
	font-size:14px;
}

.post_form .inputs li.form-textarea {
	padding:5px;
	margin:0;
	background:#fff;
}

.post_form {
	background:#efefef;
	margin-bottom:15px;
	border:1px solid #ccc;
	border-radius:5px;
	padding:0;
}

.post_form .inputs li,
.post_form form,
.post_form fieldset,
.post_form ul.inputs
{
	padding:0;
	margin:0;
}

.post_form .pwform .buttons {
	margin-top:0;
	margin-bottom:0;
	text-align:right;
}

#container .post_form .rte_controls {
	left:5px;
	bottom:-37px;
	background:none;
	box-shadow:none;
}

#container .post_form .rte_content {
	min-height:50px;
	padding:10px;
	font-size:14px;
}

.topic_list .desc,
.post_list .desc
{
	margin:10px 0 15px;
	line-height:18px;
}

.topic_list .desc {
	padding-bottom:10px;
	border-bottom:1px solid #efefef;
}

.post_list form label {
	display:none;
}

.post_list form .inputs .input-container
{
	width:100%;
}

.post_list .form_button,
.post_list .input-container
{
	display:block;
	text-align:right;
}

.post_list .form-button button {
	display:inline-block;
	margin-right:5px;
}

.post_list form textarea {
	max-width:100%;
	width:100%;
	display:block;
	height:64px;
	border:none;
	padding:0;
}

.post_list .rte_content {
	border:none;
}

.post {
	margin:0 0 15px;
}


.post .avatar,
.post .content
{
	float:left
}

.post .avatar { margin-right:15px; }
.post .author { margin-bottom:3px }
.post .author a { font-weight:bold }
.post .content {
	width:585px;
	margin-bottom:3px;
}

.post .footer {
	clear:both;
	font-size:11px;
	color:#999;
}

.post .footer a {
	color:#999;
}

.post .footer a:hover {
	text-decoration:underline;
}


