.form-input input,
.pwform .datetime_picker .container_time,
.pwform .datetime_picker .container_date,
.pwform .rte_content
{
	border-radius:4px;
	padding:5px 8px;
	border:1px solid #999;
	background:#fefefe;
}

.pwform .rte_content {
	min-height:150px;
}

.form-input input,
.pwform .datetime_picker input.time,
.pwform .datetime_picker input.date,
.pwform .datetime_picker .sep
{
	font-size:16px;
}

.pwform .datetime_picker input.time,
.pwform .datetime_picker input.date
{
	padding:0;
}

.form-input input:active,
.form-input input:focus,
.pwform .datetime_picker .container_time:active,
.pwform .datetime_picker .container_time:focus,
.pwform .datetime_picker .container_date:active,
.pwform .datetime_picker .container_date:focus
{
	border-color:#b82429;
}


.pwform .input-label-left,
.pwform .form-widget label
{
	font-size:15px;
	line-height:31px;
	vertical-align:middle;
	width:150px;
}

.pwform .form-select .input-label-left {
	line-height:22px;
}

.pwform .form-text {
	margin-bottom:10px;
}
.pwform .form-text label { display:none }
.pwform .form-text .input-container {
	padding-left:150px;
	display:block;
	line-height:17px;
}

.pwform .buttons li {
	display:inline-block;
}


.button,
.pwform .buttons li button {
	background:#b82429;
	padding:5px 15px;
	border-radius:4px;
	border:1px solid #b82429;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
}

.pwform .buttons li button:hover {
	border-color:#333;
}


.pwform .input-image .widget-tools .widget-action {
	border:none;
	background:none;
}

.pwform .options,
.pwform .input-image .widget-tools .options{
	background:#f9f9f9;
	border:1px solid #e0e0e0;
	display:inline-block;
	padding:3px 10px 3px 5px;
	border-radius:5px;
	display:inline-block;
}

.pwform .widget-location .widget-action,
.pwform .options li
{
	display:inline-block;
}

.pwform .options li {
	padding:0;
	margin:0 5px 0 0;
}

.pwform .options li label {
	width:auto;
	padding-left:0;
}

.pwform input[type=radio],
.pwform input[type=checkbox]
{
	vertical-align:middle;
	margin-top:0;
}
