body, html
{
	font-family:"Droid Sans", "Arial";
	font-size:14px;
	background:#efefef;
	color:#333;
	padding:0;
	margin:0;
	display:block;
}

html {
}

body {
	background:none;
	padding-top:42px;
}

a {
	text-decoration:none;
	color:#b82429
}

a:hover {
	color:#FF9825
}

h1 {
	font-size:30px;
	font-weight:bold;
}

fieldset {
	border:none;
	margin:0;
	padding:0;
}

header {
	background:#bb000c;
	display:block;
	height:32px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:100000;
	border-bottom:1px solid #666;
	box-shadow:0 0 10px #ccc;
}

header .page-block {
	position:relative;
	height:30px;
}

.page-block {
	width:1020px;
	padding:0;
	margin:0 auto;
}

html,
body,
#container,
#container .page-block {
	min-height:100%;
}

menu.plain,
menu.plain li
{
	margin:0;
	padding:0;
	list-style:none;
}

menu.plain li {
	display:inline-block;
	padding:2px 5px;
}

.menu_left {
	position:relative;
	width:180px;
	float:left;
	min-height:600px;
}

.block_right {
	position:relative;
	padding:10px 20px 0 20px;
	background:#fff;
	float:right;
	width:800px;
	border-radius:10px;
	box-shadow:0 0 250px #ccc;
	min-height:500px;
	z-index:4;
}

menu.main {
	position:relative;
	display:block;
	border-top:1px solid #efefef;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:0;
	z-index:5;
	overflow:hidden;
}

menu.main li {
	display:block;
	line-height:16px;
	padding:0;
	margin-bottom:1px;
	margin-left:10px;
}

menu.main li a {
	display:block;
	padding:4px 5px;
	text-decoration:none;
}

menu.main li a:hover,
menu.main li a.active
{
	background:#fff;
	border-radius:5px 0 0 5px;
}

menu.main li a.active {
	box-shadow:0 0 10px #ccc;
}

menu.main li .icon {
	margin-right:5px;
	vertical-align:middle;
}

menu.user {
	position:absolute;
	right:25px;
	top:2px;
}

menu.user li {
	height:22px;
	margin:0;
	padding:0;
}

menu.user li a {
	padding:3px 5px;
	color:#fff;
	margin:0;
	font-size:13px;
	font-weight:bold;
	height:22px;
	display:block;
}

menu.user li:last-child a {
	padding-right:0;
	border:none;
	margin-right:0;
}


menu.user li a:hover {
	background:#000;
	color:#fff;
	border-radius:3px;
}

menu.user .label {
	height:24px;
	line-height:24px;
	display:inline-block;
	vertical-align:top;
	padding:0 5px 0 10px;
}

.logo a {
	width:180px;
	height:30px;
	position:absolute;
	left:0;
	top:1px;
	line-height:33px;
	background:url(/share/pixmaps/intra/logo.png) 4px center no-repeat;
}

.logo a .hidden {
	display:inline-block;
	line-height:30px;
	padding-left:40px;
	color:#fff;
	font-weight:bold;
}

.block {
	position:relative;
}

.block.left,
.block.right,
.block.left_big,
.block.right_small
{
	float:left;
	width:400px;
}

.block.left_big {
	width:640px;
}

.block.right_small {
	width:160px;
}

.block.left {
	margin-right:15px;
}

.cleaner {
	display:block;
	clear:both;
}

.block.layout_11 { width:800px; }
.block.layout_78 { width:700px; }
.block.layout_34 { width:600px; }
.block.layout_14 { width:200px; }
.block.layout_18 { width:100px; }
.block.layout_38 { width:270px; padding-left:15px; }
.block.layout_58 { width:500px; }


.menu_profile {
	margin-bottom:10px;
	padding:15px 0 0;
}

.menu_profile .avatar{
	float:left;
	display:block;
	width:40px;
	height:40px;
	margin-right:10px;
}

.menu_profile .name,
.menu_profile .edit
{
	float:left;
	display:block;
	width:120px;
}

.menu_profile .name a {
	font-weight:bold;
	font-size:12px;
}

.menu_profile .edit a {
	font-size:12px;
}

footer {
	padding:0;
	font-size:10px;
}

footer .page-block {
	padding:10px;
	width:1000px;
}

footer .system {
	display:block;
	float:right;
}

.plain, .plain li {
	margin:0;
	padding:0;
	list-style:none;
}

.fancybox-overlay {
	z-index:100001;
}

.devbar {
	z-index:1000000;
}

.devbar .open {
	top:48px;
}


.working {
	font-size:32px;
	color:#ccc;
	padding:120px 0;
	text-align:center;
}


.gray {
	color:#ccc;
}
