.profile .left,
.profile .right {
	float:left;
	width:360px;
}

.profile .left {
	border-right:1px solid #e0e0e0;
	margin-right:20px;
	padding-right:20px;
}


.profile_block {
	border-bottom:1px solid #efefef;
	padding:10px 0;
}

.profile_block h3 {
	margin:10px 0;
}

.profile_block:last-child {
	border-bottom:none;
}

.profile .teams li,
.profile .events li
{
	padding:5px 0 5px 5px;
	border-radius:5px;
}

.profile .teams li:hover,
.profile .events li:hover
{
	background:#efefef;
}

.user_contact .contact_part, .user_contact .icon {
	display:inline-block;
	vertical-align:middle;
}

.user_contact .icon {
	margin-right:5px;
}

.user_contact .contact_part {
	margin:0 3px;
}

.user_contact .contact_name {
	color:#999;
}
