.profile .left,
.profile .right {
	float:left;
	width:360px;
}

.profile .left {
	border-right:1px solid #e0e0e0;
	margin-right:20px;
	padding-right:20px;
}


.profile_block {
	border-bottom:1px solid #efefef;
	padding:10px 0;
}

.profile_block h3 {
	margin:10px 0;
}

.profile_block:last-child {
	border-bottom:none;
}

.profile .teams li,
.profile .events li
{
	padding:5px 0 5px 5px;
	border-radius:5px;
}

.profile .teams li:hover,
.profile .events li:hover
{
	background:#efefef;
}

.profile .contacts li {
	margin-bottom:5px;
}

.user_contact .contact_part, .user_contact .icon {
	display:inline-block;
	vertical-align:middle;
}

.user_contact .icon {
	margin-right:5px;
}

.user_contact .contact_part {
	margin:0 3px;
}

.user_contact .contact_name {
	color:#999;
}


.usercfg .input-label-right {
	width:auto;
}


.usercontacts .group_label { display:none }
.usercontacts .buttons { margin-top:0; }
.usercontacts .relman_object {
	position:relative;
	background:#efefef;
	border-radius:8px;
	padding:15px;
	margin:0 0 10px;
}

.usercontacts .relman_object .inputs {
	margin-bottom:0;
}

.usercontacts .relman-drop-button {
	position:absolute;
	left:300px;
	top:0;
}

.usercontacts .relman-drop-button * {
	vertical-align:top;
}

.usercontacts .relman-drop-button .icon {
	margin-right:5px;
}

.usercontacts .input-label-right { width:auto; }
.usercontacts .input-label-left { display:block; }
.usercontacts .input-left { padding-left:0 }
.usercontacts li.input-right {
	display:inline-block;
	vertical-align:top;
	margin-right:10px;
}

.usercontacts li.input-right label {
	line-height:22px;
	width:auto;
}
