#container .rte_controls {
	left:0;
	top:auto;
	right:auto;
	bottom:-42px;
	background:rgba(204,204,204,0.75);
	box-shadow:0 0 25px #ccc;
	padding:0 2px 0;
	border-radius:5px;
	min-width:312px;
}

.rte_controls .proper-commands .command {
	display:inline-block;
	margin-bottom:0;
}

.rte_content p,
.rte_content ul,
.rte_content ol
{
	margin:0 0 5px;
}

.rte_content {
	background:#fff;
	text-align:left;
}
