.team_list {
	display:inline-block;
}

.team_list ul, .team_list li {
	margin:0;
	padding:0;
	list-style:none;
	display:inline-block;
}

.team_list .teams li {
	float:left;
	margin-bottom:10px;
}

.team_list img {
	display:block;
	float:left;
	margin-right:10px;
}

.team_list .desc {
	float:left;
	width:265px;
}

.team_list .desc strong a {
	font-size:18px;
}

.team_user img,
.team_member img
{
	float:left;
	margin-right:12px;
}

.team_member_info { float:left }


.team_detail {
	padding-top:10px;
}

.team_detail .header {
	position:relative;
}

.team_detail .header .img,
.team_detail .header .team_logo,
.team_detail .header .map
{
	float:left;
	margin-right:5px;
}

.team_detail .map .playground {
	width:210px;
	padding:15px 0 0;
}

.team_detail .header .map {
	margin:0;
	position:relative;
}

.team_detail .header .map .label {
	position:absolute;
	left:0;
	right:0;
	top:40px;
	padding:15px 0;
	background:rgba(255,255,255,.65);
	text-shadow:0 0 2px #eee;
}

.team_detail .header .map .label a {
	color:#000;
}
.team_detail .header .map .label .inner {
	padding:0 10px;
}

.team_detail .map .playground h3 {
	margin:0 0 5px;
}

.team_heading {
	position:absolute;
	z-index:5;
	left:30px;
	top:240px;
	width:169px;
}

.team_heading .team_logo {
	float:left;
	margin-right:15px;
}

.team_info .city { background-image:url(/share/icons/impro/16/objects/city.png); }
.team_info .site { background-image:url(/share/icons/impro/16/objects/site.png); }
.team_info .mail { background-image:url(/share/icons/impro/16/contact/email.png); }

.team_detail .team_info {
	margin:10px 0;
	display:block;
}

.team_info li {
	background-position:left 1px;
	padding-left:21px;
	display:block;
	color:#888;
	margin:5px 0;
}

.team_detail .left,
.team_detail .right
{
	width:490px;
	float:left;
}

.team_detail .right
{
	float:right;
	width:375px;
	padding-top:25px;
}

.team_detail .right h3 {
	margin-bottom:10px;
}


.team_detail .right .events .desc {
	width:210px;
}

.team_detail .header {
	margin-bottom:10px;
}

.team_detail .header .name .sep { display:none }
.team_detail .header .name .full {
	display:block;
	font-size:18px;
}

.team_detail .header .name a {
	color:#000;
}

.team_detail .header .name h1 {
	margin:0;
	width:500px;
}

.team_detail .header .name h1 a.short {
	display:block;
	margin:0 0 5px;
}


.team_detail .header .gallery {
	padding-bottom:5px;
	margin-bottom:10px;
	border-bottom:1px solid #e0e0e0;
}

.team_detail .header .menu .options li a {
	background:#f2f2f2;
	color:#b82429;
	color:#000;
	border:1px solid #ccc;
	padding:5px 8px;
	color:#000;
	box-shadow:0 0 3px rgba(0,0,0,0.05);
}

.team_detail .header .menu .options li a:hover,
.team_detail .header .menu .options li a.active
{
	background:#B82429;
	border-color:#B82429;
	color:#fff;
}

.team_detail .header .menu .options li {
	display:inline-block;
	margin:0 0 0 5px;
}

.team_detail .header .menu .options {
	position:absolute;
	right:0;
	top:0;
}

.team_detail .header .menu .manage {
	top:34px;
}

.team_detail .header .menu {
	position:relative;
}

.team_info .left,
.team_info .right
{
	float:left;
}

.team_info .left {
	width:400px
}

.team_info .right { width:200px }

.team_info .props {
	padding:0;
}


.right .team_people .team_member_info {
	width:207px;
}

.team_people li {
	margin-bottom:10px;
}

 .left .team_people li {
	width:245px;
	float:left;

}

.team-layout .right .team_people {
	margin-bottom:10px;
}

.team-layout .right .team_people li {
	float:none;
}

.team-layout .events {
	clear:both;
}

.team-layout .right .events .event .image {
	width:56px;
}

.team-layout .right .events .event .desc {
	width:170px;
}

.team-layout .right .events .event .versus {
	display:inline-block;
	padding:0 5px;
}


.team_settings input[type=text] {
	width:300px;
}

.team_settings_menu {
	border-bottom:1px solid  #e0e0e0;
	padding-bottom:5px;
	margin-bottom:15px;
}

.team_settings_menu ul li {
	margin:0 5px 0 0;
	display:inline-block;
}

.team_settings_menu a {
	display:inline-block;
	background:#eee;
	padding:6px 15px;
	border-radius:5px;
	font-weight:bold;
	color:#000;
}

.team_settings_menu a:hover,
.team_settings_menu a.active
 {
	color:#fff;
	background:#b82429;
}




.team-layout .team_comment .input-container {
	display:block;
}

.team_comment .inputs label {
	display:none;

}

.team_comment {
	margin-bottom:20px;
}

.team_comment form {
	background:#efefef;
	margin-bottom:15px;
	border:1px solid #ccc;
	border-radius:5px;
	padding:0;
}

.team_comment .inputs li,
.team_comment form,
.team_comment fieldset,
.team_comment ul.inputs
{
	padding:0;
	margin:0;
}

.team-layout .team_comment .buttons {
	margin-top:0;
	margin-bottom:0;
	text-align:right;
}

#container .team_comment .rte_controls {
	left:5px;
	bottom:-37px;
	background:none;
	box-shadow:none;
}

#container .team_comment .rte_content {
	min-height:50px;
	padding:10px;
	font-size:14px;
	border:none;
}

.team_member_list li {
	min-height:50px;
	float:left;
	width:250px;
}

.team_member_list li .actions {
	clear:both;
	display:block;
	clear:both;
}

.team_member_list li .actions li {
	min-height:auto;
	width:auto;
	display:inline-block;
}


.attd table {
	width:100%;
}

.attd td,
.attd th
{
	text-align:center;
	padding:4px 8px;
}

.attd .name {
	text-align:left;
	width:200px;
}

.attd .even {
	background-color:#efefef;
}

.attd .status {
	display:inline-block;
	width:24px;
	height:24px;
	line-height:24px;
	vertical-align:middle;
	background:#efefef;
	color:#000;
	border:1px solid transparent;
}

.attd .status.not-sent { background:#6F1C1F; color:#fff }
.attd .status.sent { background:#008dd7; }
.attd .status.no { background:#EC0D15; }
.attd .status.yes { background:#23EA23; }
.attd .status.maybe { background:#FFDA2D; }

.attd .status:hover {
	border-color:#666;
}


.attd-list li {
	width:230px;
	height:56px;
	padding:10px;
	display:inline-block;
	vertical-align:top;
	border:1px solid #ddd;
	background:#f2f2f2;
	border-radius:6px;
	margin:0 5px;
}

.attd-list li .l,
.attd-list li .r
{
	float:left;
}

.attd-list li .l {
	margin-right:10px;
}

.attd-list li .r {
	width:172px;
	font-size:12px;
}

.attd-list li.not-sent { box-shadow:0 0 3px #6F1C1F; }
.attd-list li.sent { box-shadow:0 0 3px #008dd7; }
.attd-list li.no { box-shadow:0 0 3px #EC0D15; }
.attd-list li.yes { box-shadow:0 0 3px #23EA23; }
.attd-list li.maybe { box-shadow:0 0 3px #FFDA2D; }

.training .location span {
	display:block;
}

.training .location .addr,
.training .location .site
{
	font-size:12px;
}

.training .info p {
	margin-top:0;
}


.tgform .inputs label {
	width:190px;
}


.memberadd .inputs,
.memberadd .inputs li,
.memberadd .inputs_container,
.memberadd .buttons,
.memberadd .buttons li,
.memberadd .buttons_container
{
	display:inline-block;
	vertical-align:top;
	margin-top:0;
	margin-bottom:0;
}

.memberadd .inputs {
	margin-right:10px;
}

.memberadd label.input-label {
	width:auto;
	margin-right:10px;
}

.memberadd input {
	padding:2px 5px 1px;
}

.memberadd .form-text .input-container {
	padding:20px 0 0;
	line-height:125%;
}

.memberadd .group_2 {
	display:block;
	width:450px;
	font-size:16px;
}
