doctype html
html(lang=$loc->get_lang())
	head
		:php
			$ren->content_for('scripts', "scripts/bundle/libs");
			$ren->content_for('scripts', "scripts/bundle/intranet");

			$ren->content_for('styles', 'styles/bundle/common');
			$ren->content_for('styles', 'styles/bundle/intranet');

			$ren->content_for('title', $loc->trans('impro_name').' - '.$loc->trans('impro_name_desc'));
			$ren->content_from('head');

		link(rel="icon",type="image/ico",href="/favicon.ico")
		link(rel="icon",type="image/png",href="/favicon.png")

	body
		.layout-content
			#viewport
			#meta
				:php
					$ren->slot();

		footer
			.layout
				ul.plain.footer-menu
					li!=$ren->link_ext('https://github.com/just-paja/fudjan/', \System\Status::introduce())
					li!=$ren->link_ext('https://github.com/just-paja/pwf.js/', 'pwf.js')
					li!=$ren->link('http://www.improliga.cz/', $loc->trans('intra_public'))
					li!=$ren->link_for('terms', $loc->trans('intra_terms'))
					li!=$ren->link_for('support', $loc->trans('intra_support'))

				span.cleaner

		include ../partial/ga.jade
