doctype html
html(lang=$loc->get_lang())
	head
		:php
			$ren->content_for('scripts', 'bower/icanhazjs/ICanHaz');

			$ren->content_for('scripts', 'bower/async/lib/async');
			$ren->content_for('scripts', 'bower/moment/moment');
			$ren->content_for('scripts', 'bower/pwf-async-compat/lib/async-compat');
			$ren->content_for('scripts', 'bower/pwf-moment-compat/lib/moment-compat');
			$ren->content_for('scripts', 'bower/pwf.js/lib/models/domel');
			$ren->content_for('scripts', 'bower/pwf.js/lib/models/container');
			$ren->content_for('scripts', 'bower/pwf-browser/lib/browser');
			$ren->content_for('scripts', 'bower/html5shiv/dist/html5shiv');
			$ren->content_for('scripts', 'bower/fancybox/source/jquery.fancybox');
			$ren->content_for('scripts', 'bower/pwf-paginator/lib/paginator');
			$ren->content_for('scripts', 'bower/pwf-queue/lib/queue');
			$ren->content_for('scripts', 'bower/pwf-comm/lib/comm');
			$ren->content_for('scripts', 'bower/pwf-comm/lib/mods/http');
			$ren->content_for('scripts', 'bower/pwf-form/lib/form');
			$ren->content_for('scripts', 'bower/pwf-comm-form/lib/comm-form');
			$ren->content_for('scripts', 'bower/pwf-locales/lib/locales');
			$ren->content_for('scripts', 'bower/pwf-models/lib/model');
			$ren->content_for('scripts', 'bower/pwf-models/lib/list');
			$ren->content_for('scripts', 'bower/pwf-models-schema/lib/schema');
			$ren->content_for('scripts', 'bower/pwf-form/lib/form');
			$ren->content_for('scripts', 'bower/pwf-form/lib/input');
			$ren->content_for('scripts', 'bower/pwf-form/lib/input/default');
			$ren->content_for('scripts', 'scripts/site/browser_control');
			$ren->content_for('scripts', 'scripts/site/global');
			$ren->content_for('scripts', 'scripts/site/public');
			$ren->content_for('scripts', 'scripts/public/responsive');
			$ren->content_for('scripts', 'scripts/templater');
			$ren->content_for('scripts', 'scripts/list_renderer');
			$ren->content_for('scripts', 'scripts/list_browser');
			$ren->content_for('scripts', 'scripts/team_browser');

			$ren->content_for('styles', 'bower/reset-css/reset');
			$ren->content_for('styles', 'styles/fonts');
			$ren->content_for('styles', 'styles/public/common');
			$ren->content_for('styles', 'styles/lib/fancybox');
			$ren->content_for('styles', 'styles/lib/calendar');
			$ren->content_for('styles', 'styles/public/layout/base');
			$ren->content_for('styles', 'styles/objects/browser');
			$ren->content_for('styles', 'styles/public/events');
			$ren->content_for('styles', 'styles/public/teams');
			$ren->content_for('styles', 'styles/public/about');
			$ren->content_for('styles', 'styles/pwf/browser_control');
			$ren->content_for('styles', 'styles/public/calendar');
			$ren->content_for('title', $loc->trans('impro_name').' - '.$loc->trans('impro_name_desc'));

			$ren->content_from('head');

		link(rel="icon",type="image/ico",href="/favicon.ico")
		link(rel="icon",type="image/png",href="/favicon.png")

	body
		.wrapper
			.wrapper-content
				header
					.inner
						ul.main-menu
							li!=$ren->link_for('home', $loc->trans('impro_menu_home'))
							li!=$ren->link_for('teams', $loc->trans('impro_menu_teams'))
							li!=$ren->link_for('events', $loc->trans('impro_menu_shows'))
							li!=$ren->link_for('workshops', $loc->trans('impro_menu_workshops'))
							li!=$ren->link_for('about', $loc->trans('impro_menu_about'))
							li!=$ren->link_for('contacts', $loc->trans('impro_contact'))

						.site-name
							.name=$loc->trans('impro_name')
							.desc=$loc->trans('impro_name_desc')

						a.logo(href=$ren->url('home'))

		:php
			$ren->yield();

		.meta
			:php
				$ren->slot('meta');

		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-40099806-1']);
			_gaq.push(['_setDomainName', 'improliga.cz']);
			_gaq.push(['_trackPageview']);
			(function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();



