doctype html
html(lang=$loc->get_lang())
	head
		:php
			$ren->content_for('scripts', 'scripts/bundle/libs');
			$ren->content_for('scripts', 'scripts/bundle/public');

			$ren->content_for('styles', 'bower/reset-css/reset');
			$ren->content_for('styles', 'bower/pwf-form/styles/date');
			$ren->content_for('styles', 'styles/fonts');
			$ren->content_for('styles', 'styles/public/common');
			$ren->content_for('styles', 'styles/public/layout');
			$ren->content_for('styles', 'styles/public/forms');
			$ren->content_for('styles', 'styles/public/ui');
			$ren->content_for('styles', 'styles/public/pages/home');
			$ren->content_for('styles', 'styles/public/pages/shows');
			$ren->content_for('styles', 'styles/public/pages/teams');
			$ren->content_for('styles', 'styles/public/pages/contact');
			$ren->content_for('styles', 'styles/public/pages/about');
			$ren->content_for('styles', 'styles/public/pages/workshops');

			$ren->content_for('styles', 'styles/pwf/browser_control');
			$ren->content_for('styles', 'styles/public/calendar');
			$ren->content_for('title', $loc->trans('impro_name').' - '.$loc->trans('impro_name_desc'));

			$ren->content_from('head');

		link(rel="icon",type="image/ico",href="/favicon.ico")
		link(rel="icon",type="image/png",href="/favicon.png")

	body
		header
			.inner
				.site-icon
					.site-name
						.name=$loc->trans('impro_name')
						.desc=$loc->trans('impro_name_desc')

					a.logo(href=$ren->url('home'))

				.main-menu-container
					.main-menu-center
						ul.main-menu#main-menu
							li!=$ren->link_for('home', $loc->trans('impro_menu_home'), array("class" => 'menu-home'))
							li!=$ren->link_for('about', $loc->trans('impro_menu_about'), array("class" => 'menu-about'))
							li!=$ren->link_for('events', $loc->trans('impro_menu_shows'), array("class" => 'menu-shows'))
							li!=$ren->link_for('teams', $loc->trans('impro_menu_teams'), array("class" => 'menu-teams'))
							li!=$ren->link_for('workshops', $loc->trans('impro_menu_workshops'), array("class" => 'menu-workshops'))
							li!=$ren->link_for('media', $loc->trans('impro_menu_media'), array("class" => 'menu-media'))
							li!=$ren->link_for('contacts', $loc->trans('impro_contact'), array("class" => 'menu-contact'))

		#ui
			#viewport

		#meta
			:php
				$ren->slot();

		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-40099806-1']);
			_gaq.push(['_setDomainName', 'improliga.cz']);
			_gaq.push(['_trackPageview']);
			(function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();



