doctype html
html(lang=$loc->get_lang())
	head
		:php
			$ren->content_for('scripts', 'bower/html5shiv/dist/html5shiv');
			$ren->content_for("scripts", "bower/jquery/dist/jquery");
			$ren->content_for('scripts', 'bower/async/lib/async');
			$ren->content_for('scripts', 'bower/moment/moment');
			$ren->content_for('scripts', 'bower/fancybox/source/jquery.fancybox');

			$ren->content_for('scripts', 'bower/pwf.js');

			$ren->content_for('scripts', 'bower/pwf-async-compat/lib/async-compat');
			$ren->content_for('scripts', 'bower/pwf-moment-compat/lib/moment-compat');

			$ren->content_for('scripts', 'bower/pwf-browser/lib/browser');
			$ren->content_for('scripts', 'bower/pwf-config/lib/config');
			$ren->content_for('scripts', 'bower/pwf-storage/lib/storage');
			$ren->content_for('scripts', 'bower/pwf-queue/lib/queue');
			$ren->content_for('scripts', 'bower/pwf-locales/lib/locales');

			$ren->content_for('scripts', 'bower/pwf-preloader');
			$ren->content_for('scripts', 'bower/pwf-dispatcher');
			$ren->content_for('scripts', 'bower/pwf-paginator');
			$ren->content_for('scripts', 'bower/pwf-comm');
			$ren->content_for('scripts', 'bower/pwf-form');
			$ren->content_for('scripts', 'bower/pwf-models');
			$ren->content_for('scripts', 'bower/pwf-models-schema');

			$ren->content_for('scripts', 'bower/pwf-adminer/lib/adminer/abstract/filters');
			$ren->content_for('scripts', 'bower/pwf-adminer/lib/adminer/abstract/common');
			$ren->content_for('scripts', 'bower/pwf-adminer/lib/adminer/list');

			$ren->content_for('scripts', 'bower/pwf-comm-form/lib/comm-form');
			$ren->content_for('scripts', 'bower/pwf-form-models/lib/form-models');

			$ren->content_for('scripts', 'bundle/public');

			$ren->content_for('styles', 'bower/reset-css/reset');
			$ren->content_for('styles', 'bower/pwf-form/styles/date');
			$ren->content_for('styles', 'styles/fonts');
			$ren->content_for('styles', 'styles/public/common');
			$ren->content_for('styles', 'styles/public/layout');
			$ren->content_for('styles', 'styles/public/events');
			$ren->content_for('styles', 'styles/public/teams');
			$ren->content_for('styles', 'styles/public/forms');
			$ren->content_for('styles', 'styles/public/ui');
			$ren->content_for('styles', 'styles/public/pages/home');
			$ren->content_for('styles', 'styles/public/pages/shows');
			$ren->content_for('styles', 'styles/public/pages/contact');
			$ren->content_for('styles', 'styles/public/pages/workshops');
			$ren->content_for('styles', 'styles/objects/browser');

			$ren->content_for('styles', 'styles/pwf/browser_control');
			$ren->content_for('styles', 'styles/public/calendar');
			$ren->content_for('title', $loc->trans('impro_name').' - '.$loc->trans('impro_name_desc'));

			$ren->content_from('head');

		link(rel="icon",type="image/ico",href="/favicon.ico")
		link(rel="icon",type="image/png",href="/favicon.png")

	body
		.wrapper
			.wrapper-content
				header
					.inner
						ul.main-menu#main-menu
							li!=$ren->link_for('home', $loc->trans('impro_menu_home'))
							li!=$ren->link_for('about', $loc->trans('impro_menu_about'))
							li!=$ren->link_for('events', $loc->trans('impro_menu_shows'))
							li!=$ren->link_for('teams', $loc->trans('impro_menu_teams'))
							li!=$ren->link_for('workshops', $loc->trans('impro_menu_workshops'))
							li!=$ren->link_for('media', $loc->trans('impro_menu_media'))
							li!=$ren->link_for('contacts', $loc->trans('impro_contact'))

						.site-name
							.name=$loc->trans('impro_name')
							.desc=$loc->trans('impro_name_desc')

						a.logo(href=$ren->url('home'))

		#viewport
		#meta
			:php
				$ren->slot();

		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-40099806-1']);
			_gaq.push(['_setDomainName', 'improliga.cz']);
			_gaq.push(['_trackPageview']);
			(function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);})();



